.about {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color:rgb(159, 226, 212);
  }
  .aboutTop {
    width: 100%;
    height: 45%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  /* .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 50px;
  }
  
  .aboutBottom p {
    width: 1200px;
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    font-size: 70px;
    color: black;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
  } */
  .aboutBottom {
    padding: 20px; /* Khoảng cách giữa nội dung và viền của phần aboutBottom */
    background-color: rgb(37, 120, 102); /* Màu nền */
    border-radius: 10px; /* Bo tròn các góc */
  }
  
  .aboutBottom p {
    font-size: 16px; /* Kích thước chữ */
    line-height: 1.6; /* Khoảng cách giữa các dòng */
    color: #333; /* Màu chữ */
    margin-bottom: 10px; /* Khoảng cách giữa các đoạn văn */
  }
  
  .aboutBottom p:last-child {
    margin-bottom: 0; /* Loại bỏ khoảng cách dư thừa ở cuối */
  }