.button{
    color: white;
    background-color :black;
    margin-left:5px;
    border-radius: 5px;
    text-decoration: none; /* Bỏ gạch chân dưới chữ */
}
.button2{
    color: white;
    background-color :black;
    margin-left: 20px;
    border-radius: 5px;
}