/* PizzaDetail.css */
.anh-container {
    position: relative;
    height: 500px;
    width: 700px;
    margin-left: 370px;
    overflow: hidden;
  }
  
  .anh-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .anh-container img.active {
    opacity: 1;
  }
  .Container{
    background:rgb(159, 226, 212);
}
.ten{
    text-align: center;
}
.gia{
    text-align: center;
}
.mt{
    text-align: center;  
}
/* Trong file PizzaDetail.css */
.image-count {
    text-align: center;
  }

  /* Trong file PizzaDetail.css */
.thumbnail-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Khoảng cách giữa các ảnh nhỏ */
  }
  
  .thumbnail {
    width: 80px; /* Kích thước chiều rộng của ảnh nhỏ */
    height: auto; /* Chiều cao tự động, giữ cho tỷ lệ hình ảnh */
    cursor: pointer; /* Con trỏ biểu tượng tay khi di chuột qua */
    transition: transform 0.3s ease-in-out; /* Hiệu ứng chuyển đổi khi di chuột */
  }
  
  .thumbnail:hover {
    transform: scale(1.1); /* Phóng to khi di chuột qua */
  }
  
  .thumbnail.selected {
    border: 2px solid #007bff; /* Viền đậm khi ảnh được chọn */
  }
  
  